<!-- suscriptor_form.html -->
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label class="form-check-label">{{ field.label }} </label>
        {% if field.name in ['primer_nombre', 'segundo_nombre', 'primer_apellido', 'segundo_apellido', 'direccion_IMAGEN'] %}
        {{ field }}
        {% elif field.name == 'barrio' %}
        {{ field }}
        {% elif field.name == 'Estrato_socioeconomico' %}
        <select name="{{ field.name }}" class="form-control">
            {% for value, label in field.field.choices %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        {% elif field.name == 'Uso' %}
        <select name="{{ field.name }}" class="form-control">
            {% for value, label in field.field.choices %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <div class="col-12 help-text">{{ field.errors }}</div>
    </div>
    {% endfor %}
    <input name="" id="" class="btn btn-primary" type="submit" value="Guardar">
</form>
